body{
    background-color: #151515;
    font-family: aldrich, monospace;
    padding: 5%;
}

.aldrich-regular {
    font-family: "Aldrich", monospace;
    font-weight: 500;
    font-style: normal;
  }
  
.unit{
    margin: 2%;
    padding: 5%;
    background-color: #232323;
    border-radius: 0.4em;
}
.collasped{
    display: none;
}





/* custom tags */
bigNumb{
    font-size:400%;
    color: #606060;
}
