body{
    background-color: #151515;
    font-family: "Electrolize", monospace;
    padding: 5%;
}

.electrolize-regular {
    font-family: "Electrolize", serif;
    font-weight: 500;
    font-style: normal;
}
  
  
.unit{
    margin: 2%;
    padding: 5%;
    background-color: #232323;
    border-radius: 0.2em;
}
.collasped{
    display: none;
}
.scrollArea{
    max-height: 75vh;
    overflow: hidden scroll;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(143, 143, 143, 0.5); 
    display: none;
}

#popup,#tokenGenerationPopup{
    background-color: #232323;
    display: none;
    width: 80%;
    height: 80%;
    position: fixed;
    border-radius: 0.2em;
    z-index: inherit;
    border-color: #515151;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding-top: 2%;
    padding-bottom: 2%;
}
